@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    image-rendering: -moz-crisp-edges;        /* Firefox */
    image-rendering:   -o-crisp-edges;        /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non standard property) */
}

/************
    BAR
*************/

#searchbar {
    width: 300px;
    padding: 10px;
}

/************
    INFOITEM
*************/

#infoItem {
    margin-top: 15px;
    /*background: #e0e0e0;*/
    border-radius: 5px;
    width: 400px;
    height: 120px;

    display: flex;
    flex-direction: row;
    align-items: start;

}

#firstInfoItem{
    width: 130px;
    height: 120px;
}
#firstInfoItem img{
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 40px;
    width: 50px;
}

#secondInfoItem{
    height: 100px;
    padding-left: 12px;
}

#secondInfoItem h3{
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
}
#secondInfoItem h3 span{
    font-size: 12px
}
#secondInfoItem p{
    margin: 0;
    font-size: 13px;
}


/************
    FUSION
*************/

#fusionResult h3,
#fusionImplication h3{
    margin-bottom: 30px;
    text-align: start;
}

.map{
    position: relative;
    background: url('textures/gui/fusion_block.png');
    width: 175px;
    height: 87px;

    transform: scale(1.5);
    margin-bottom: 60px;
}

.tierName{
    position: absolute;
    text-align: center;
    font-size: 8px;
    top: 4px;
    margin: 0;
    width: 100%;
}

.item{
    position: absolute;
}
.item1{
    top: 15px;
    left: 18px;
}
.item2{
    top: 56px;
    left: 18px;
}
.itemResult{
    top: 36px;
    left: 81px;
}
.itemFuel{
    top: 25px;
    left: 131px;
}